/* IMPORT CORE THEME */
@import url('https://azlen.github.io/roam-themes/core.css');

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');	

:root {	
    --page-width: 616px;
    --page-order: row-reverse; /* new pages show up to the right */
    /*--page-order: row; /* new pages show up to the left */
    
    --header-font: "Lato", "Inter", sans-serif;	
    --body-font: "Lato", "Inter", sans-serif;	
    	
    --bg-color: #d8dee9;	
    --page-color: #eceff4;	
    	
    --text-color: #2e3440;	
    --icon-color: #5c7080;
    --bullet-color: #3b4252;	
    	
    --page-shadow: 0px 8px 14px rgba(0, 0, 0, 0.05);	
    	
    --color-primary: 76, 86, 106;	
    --color-primary-contrast: #FFFFFF;	
    --color-secondary: 67, 76, 94;

    --color-secondary-contrast: #FFFFFF;	
}

/* CHANGE COLOURS IN CANVAS */
canvas[data-id="layer2-node"] {	
    filter: invert(1) hue-rotate(110deg) saturate(2.5);	
}
